@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')

// colors
$blue-medium: #0084C8
$blue-dark: #005C94
$blue-light: #19AEFF
$blue-superLight: #19aeff6b
$grey-light: #ccc

$error: #ff9090
$success: #4ADB82

// breakpoints
$extra-large: 1529px
$large: 1024px
$medium: 768px
$small: 480px

*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    font-family: Roboto
    font-size: 18px

/// HEADER
.header
    padding: 1rem
    color: $blue-medium
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        &__logo
            width: 81px
            & img
                width: 24px
        &__flags
            width: 81px
            text-align: right
            & img
                width: 32px
    & h1
        text-align: center
        margin: 10px 0

/// CONTAINER
.container
    display: flex
    justify-content: space-around
    width: 100%
    padding: 1.5rem
    &__calc
        width: 58%
        & .formContainer
            display: flex
            justify-content: space-evenly
            align-items: center
            padding: .75rem 0
            & .inputContainer
                display: flex
                flex-direction: column
                width: clamp(180px, 60%, 500px)
                & input, select
                    border: 1px solid $grey-light
                    border-radius: 8px
                    padding: 1rem
                    &:focus
                        outline: 0
                        border-color: $blue-medium
                & select
                    margin-top: 0.5rem
                    padding: 0.5rem
            &__buttons
                display: flex
                justify-content: space-evenly
                flex-direction: row
                gap: 0.5rem
                margin: 0 0.5rem
        &__treeContainer
            padding: 2rem 0.75rem
            display: flex
            justify-content: center
            text-align: center

.buttonPrimary
    border: 1px solid $blue-medium
    border-radius: 12px
    padding: 0.75rem 1.25rem
    background-color: $blue-medium
    color: #fff
    font-size: 1.25rem
    transition: 0.3s
    cursor: pointer
    &:hover
        background-color: $blue-light

.formulaIsProved
    text-align: center
    color: $success
    font-size: 1.2rem
    margin: 1rem 0
    visibility: hidden

/// PROOF TREE
.proof
    border-bottom: 1px solid #000
    display: flex
    align-items: flex-end
    & > div > span
        margin-left: 15px
        margin-right: -15px
.nameOfRule
    position: relative
    top: 9px
    left: 28px
    font-size: 0.8rem

.siblings
    display: flex
    align-items: flex-end
    justify-content: center
    & > :first-child
        margin-right: 37px

/// DROPDOWN WITH FORMULAS AS CHOICES
.chooseLeaf
    visibility: hidden
    position: absolute
    background-color: #fff
    border: 2px solid $blue-light
    border-radius: 8px
    padding: 0.25rem 1rem

/// FORM FOR CUT RULE
#formForCut
    display: none

/// SYMBOLS, RULES, TUTORIAL, INFO
.container
    &__infos
        width: 42%
        text-align: left
        &__tabs
            padding: 0
            & li
                list-style-type: none
                display: inline-block
                border-radius: 8px 8px 0 0
                padding: 0.3rem 1.3rem
                margin: 0 auto
                cursor: pointer
                &:hover
                    border-bottom: 2px solid $blue-light
                    color: $blue-light
            & .activeTab
                border-bottom: 2px solid $blue-light
                color: $blue-light
        &__panes > div
            display: none
        &__panes .info, &__panes .tutorial
            font-size: 0.8rem
.symbols
    &__container
        display: grid
        grid-template-columns: repeat(8, 64px)
        grid-template-rows: repeat(3, 1fr)
        justify-content: center
        gap: 0.75rem
        padding: 0.5rem 0
        &__button
            border: 1px solid $blue-medium
            border-radius: 8px
            padding: 12px 20px
            background-color: #fff
            color: $blue-medium
            font-weight: bold
            font-size: 1rem
            cursor: pointer
            transition: 0.3s
            &:hover
                background-color: $blue-light
                color: #fff
        & .space
            grid-column: 3/7

.rules
    height: calc( 100vh - 270.1px )
    overflow-x: hidden
    overflow-y: auto
    &__container
        display: flex
        flex-wrap: wrap
        gap: 1rem
        padding: 4px
        &__rule
            flex-basis: 290px
            padding: 0 1rem
            transition: 0.2s
            & img
                height: 65px
                width: auto
            & p
                font-weight: bolder
        & .readyToUse:hover
            cursor: pointer
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
            border-radius: 8px

/// ERROR AND SUCCESS
#error, #success
    position: fixed
    visibility: hidden
    color: #fff
    background-color: $error
    border-radius: 8px
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3)
    padding: 0.875rem 1.25rem
    font-size: 1.2rem
    bottom: 20px
    right: 20px
#error
    background-color: $error
#success
    background-color: $success
.invalid
    border-color: $error

/*! ----------------------- RESPONSIVITY -----------------------

@media (max-width: $extra-large)
    .container
        padding: 0.75rem
        &__calc
            width: 60%
        &__infos
            width: 40%
    .rules__container
        justify-content: center
        &__rule
            text-align: center
    .symbols__container
        grid-template-columns: repeat(4, 64px)
        grid-template-rows: repeat(5, 1fr)
        & .space
            grid-column: 2/4
    .rules
        height: calc( 100vh - 246.1px )

@media (max-width: $large)
    .container
        flex-direction: column
        &__calc
            width: 100%
        &__infos
            width: 100%
            &__tabs
                text-align: center
    .header h1
        font-size: 2rem
    .symbols__container
        grid-template-columns: repeat(8, 64px)
        grid-template-rows: repeat(3, 1fr)
        & .space
            grid-column: 3/7
    .rules
        height: 100%

@media (max-width: $medium)
    .header h1
        font-size: 1.5rem
    .symbols__container
        grid-template-columns: repeat(4, 64px)
        grid-template-rows: repeat(5, 1fr)
        & .space
            grid-column: 2/4
    .buttonPrimary
        font-size: 1rem
        padding: 0.5rem 1rem

@media (max-width: $small)
    .container
        padding: 0.3rem
        &__infos__tabs li
            padding: 0.3rem 0.4rem
        &__calc .formContainer__buttons
            flex-direction: column
