@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
}

.header {
  padding: 1rem;
  color: #0084C8;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container__logo {
  width: 81px;
}

.header__container__logo img {
  width: 24px;
}

.header__container__flags {
  width: 81px;
  text-align: right;
}

.header__container__flags img {
  width: 32px;
}

.header h1 {
  text-align: center;
  margin: 10px 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 1.5rem;
}

.container__calc {
  width: 58%;
}

.container__calc .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
}

.container__calc .formContainer .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(200px, 60%, 500px);
}

.container__calc .formContainer .inputContainer input, .container__calc .formContainer .inputContainer select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.container__calc .formContainer .inputContainer input:focus, .container__calc .formContainer .inputContainer select:focus {
  outline: 0;
  border-color: #0084C8;
}

.container__calc .formContainer .inputContainer select {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.container__calc__treeContainer {
  padding: 2rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.buttonPrimary {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #0084C8;
  border-radius: 60px;
  padding: 0.5rem;
  background-color: #0084C8;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.buttonPrimary:hover {
  background-color: #19AEFF;
}

.formulaIsProved {
  text-align: center;
  color: #4ADB82;
  font-size: 1.2rem;
  margin: 1rem 0;
  visibility: hidden;
}

.proof {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.proof > div > span {
  margin-left: 15px;
  margin-right: -15px;
}

.nameOfRule {
  position: relative;
  top: 9px;
  left: 28px;
  font-size: 0.8rem;
}

.siblings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.siblings > :first-child {
  margin-right: 37px;
}

.chooseLeaf {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  border: 2px solid #19AEFF;
  border-radius: 8px;
  padding: 0.25rem 1rem;
}

#formForCut {
  display: none;
}

.container__infos {
  width: 42%;
  text-align: left;
}

.container__infos__tabs {
  padding: 0;
}

.container__infos__tabs li {
  list-style-type: none;
  display: inline-block;
  border-radius: 8px 8px 0 0;
  padding: 0.3rem 1.3rem;
  margin: 0 auto;
  cursor: pointer;
}

.container__infos__tabs li:hover {
  border-bottom: 2px solid #19AEFF;
  color: #19AEFF;
}

.container__infos__tabs .activeTab {
  border-bottom: 2px solid #19AEFF;
  color: #19AEFF;
}

.container__infos__panes > div {
  display: none;
}

.container__infos__panes .info, .container__infos__panes .tutorial {
  font-size: 0.8rem;
}

.symbols__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (64px)[8];
      grid-template-columns: repeat(8, 64px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0.75rem;
  padding: 0.5rem 0;
}

.symbols__container__button {
  border: 1px solid #0084C8;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #fff;
  color: #0084C8;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.symbols__container__button:hover {
  background-color: #19AEFF;
  color: #fff;
}

.rules {
  height: calc( 100vh - 270.1px);
  overflow-x: hidden;
  overflow-y: auto;
}

.rules__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 4px;
}

.rules__container__rule {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
  padding: 0 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.rules__container__rule img {
  height: 65px;
  width: auto;
}

.rules__container__rule p {
  font-weight: bolder;
}

.rules__container .readyToUse:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#error, #success {
  position: fixed;
  visibility: hidden;
  color: #fff;
  background-color: #ff9090;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  bottom: 20px;
  right: 20px;
}

#error {
  background-color: #ff9090;
}

#success {
  background-color: #4ADB82;
}

.invalid {
  border-color: #ff9090;
}

/*! ----------------------- RESPONSIVITY ----------------------- */
@media (max-width: 1529px) {
  .container {
    padding: 0.75rem;
  }
  .container__calc {
    width: 60%;
  }
  .container__infos {
    width: 40%;
  }
  .rules__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rules__container__rule {
    text-align: center;
  }
  .symbols__container {
    -ms-grid-columns: (64px)[4];
        grid-template-columns: repeat(4, 64px);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rules {
    height: calc( 100vh - 246.1px);
  }
}

@media (max-width: 1024px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__calc {
    width: 100%;
  }
  .container__infos {
    width: 100%;
  }
  .container__infos__tabs {
    text-align: center;
  }
  .header h1 {
    font-size: 2rem;
  }
  .symbols__container {
    -ms-grid-columns: (64px)[8];
        grid-template-columns: repeat(8, 64px);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .rules {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .symbols__container {
    -ms-grid-columns: (64px)[4];
        grid-template-columns: repeat(4, 64px);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.3rem;
  }
  .container__infos__tabs li {
    padding: 0.3rem 0.4rem;
  }
}
/*# sourceMappingURL=style.css.map */